.resource__details * {
    background-color: #3dcc3d;
}

.resource__details {
    background-color: #3dcc3d;
    border: solid white 1px;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    width: 80%;
}

.resource__comments .ResourceStarRating svg, .resource__comments .ResourceStarRating {
    background-color: #3dcc3d;
    color: white;
}

.little {
    font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
    .resource {
        width: 48%;
    }
}