.registerPlease {
    margin: 0 25px;
    width: 95%;
}

.addCat {
    display: block;
    width: 45%;
}

@media screen and (min-width: 800px) {
    .CategoryListPage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}