.innerRight {
    text-align: right;
    font-size: 0.7rem;
}

.FullResource__url {
    color: #fffacd;
}

/* .red { */
    /* color: #8b0000; */
/* } */

@media (min-width: 1000px) {
    .innerRight {
        font-size: 0.8rem;
    }
}